# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
.venv/
venv/

# Env files
.env
.env.*

# Build
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# DB
wooparser.db

# Playwright
playwright/.cache/

# Pytest
.pytest_cache/
